#background_image {
	position: absolute;
	z-index: -1;
	width: 100%;
	opacity: 0.4;
	padding: 20px 0px;
}

body {
	background: #aaccdd;
  font-family: 'Oxygen', sans-serif;
}

#front_page {
	width: 100%;
	text-align: center;
}

h1 {
	padding: 40px 0px 0px 0px;
	font-size: 6em;
	line-height: .5em;
}

#tweets {
  color: #333333;
  padding: 0px 50px;
}